body{
    background-color: #ccd6e0;
}

div, section{
    border: 1px solid black;
}
.managers-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 200px;
    height: 100vh;
}

.Neriya-card, .David-card{
    width: 100%;
    height: 50%;
    margin: 20px;
    display: flex;
    

}

.img-container{
    width: 20%;
    height: 60%;
    margin: auto 50px;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px;
}

.info-container{
    height: 100%;
    width: 100%;
}

.info-container .name{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}