*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.store-sales{
    text-align: center;
    background-color: black;
    color: white;
}

h6 a{
    color:cadetblue;
    text-decoration: none;
}

h6 a:visited{
    color:cadetblue;
}

h6 a:hover{
    color:blue;
}




.store-sales{
    text-transform: uppercase;
}
.main-header{
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
height: 100px;
background-color: antiquewhite;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container img {
    width: 150px;   
    height: auto;  
}
.main-nav ul ,.secondary-nav ul{
display: flex;
gap: 30px;
list-style: none;
margin: 10px;
}

.main-header a{
    text-decoration: none;
    color: black;
}
.main-header a:visited{
    color:black;
}
.main-header a:hover{
    color:blue;
}

