*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.store-sales{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;    
    justify-content: center;
    padding: 6px 0;
    text-align: center;
    gap:5px;
}

body{
    width:100%;
    overflow-x: hidden;
}

h6 a{
    color:cadetblue;
    text-decoration: none;
}

h6 a:visited{
    color:cadetblue;
}

h6 a:hover{
    color:blue;
}


.store-sales{
    text-transform: uppercase;
}
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container img {
    width: 150px;   
    height: auto;  
}
.main-nav ul ,.secondary-nav ul{
display: flex;
gap: 30px;
list-style: none;
margin: 10px;
font-size: large;
}

.main-header a{
    text-decoration: none;
    color: black;
}
.main-header a:visited{
    color:black;
}
.main-header a:hover{
    color:blue;
}

.category{
    display: flex;
    width:100%;
    justify-content: flex-start; 
    gap: 0;                    
    text-align: center;
    font-size: 50px;
    position: relative;
}


.cat-p{
    position: absolute;
    bottom: 100px;
    justify-self: center;
    color:white;
    text-shadow: 0px 0px 10px black;
}

.category a{
    transition: transform 500ms ease;
    position: relative;
    z-index: 1;
}
.category a:hover{
    transform: scale(1.1);    
}

.men-category{
    background-image: url('../Pr01/media/men-category.png');
    background-size: cover;
    background-position: center 10%; 
    height: 90vh; 
    flex: 0 0 50%;
}

.women-category{
    background-image: url('../Pr01/media/women-category.png');
    background-size: cover;
    background-position: center 10%;
    height: 90vh; 
    flex: 0 0 50%;
}


footer{
    display: block;
    background-color:black;
    position: relative;
    z-index: 10;
}
.footer-logo-container{
    text-align: center;
    margin: auto;
    width:100%;
    height: 200px;
    position: relative;
    z-index: 20;

}

.footer-logo-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.footer-information{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:400px;
}

.footer-information a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3em;
}

.footer-information a{
    transition: transform 300ms ease, color 300ms ease;
}
.footer-information a:hover{
    color: chocolate;
    transform: translateY(-10px);
}

.signup-form{
    display: grid;
}